{% extends "base.html" %}
{% block title %}Set New Password - PharmaCare{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow"><div class="card-body p-4">
            <h2 class="text-center mb-3">Set new password</h2>
            <form method="POST">
                <label for="password" class="form-label">New password</label>
                <input class="form-control" type="password" id="password" name="password" required autofocus>
                <label for="confirm_password" class="form-label mt-3">Confirm new password</label>
                <input class="form-control" type="password" id="confirm_password" name="confirm_password" required>
                <button type="submit" class="btn btn-primary w-100 mt-3">Change password</button>
            </form>
        </div></div>
    </div>
</div>
{% endblock %}